*{
    margin: 0;
    padding:0;
   
}
.nav-container{
    background-color: rgb(69, 58, 58);
    padding: 20px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;

    
}
.logo-img{
    width: 120px;
    
}
.menus{
    list-style: none;
  display: flex;
    
}

.item{
    margin-right: 10px;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}

.item:hover{
    color: brown;
}

/* nav style end  */